# OS
.DS_Store

# Python
*.pyc
__pycache__/

# Pytest
.pytest_cache/
htmlcov/
.coverage

# PyPI
dist/
build/
*.egg-info/

# Notebooks
*.ipynb
.ipynb_checkpoints/
notebooks/

# PyCharm
.idea/

# Bash
*.sh

# Data
data/

# Logs
logs/
