# Python
*.pyc
__pycache__/
spark-warehouse
.pytest_cache/
htmlcov/
.coverage

# PyPI
dist/
build/
*.egg-info/


# Notebooks
*.ipynb
.ipynb_checkpoints/
notebooks/

# PyCharm
.idea/

# Bash
*.sh

# Data
*.crc
*.parquet
land_registry/
data/

# Logs
logs/
